@page
@model WaterMonitor.Pages.StationPages.HomeModel
@{
}

<div class="w-100 h-100" id="home_stations_list">
    <div class="h-100 w-25">
        <h3>All stations</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Stations)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Title</td>
                        
                    </tr>
                }
            </tbody>
        </table>
        <h4>Current active staions: @Model.Stations.Count()</h4>
    </div>
</div>
